<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCOUR</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

    <main>

        <div class="contenido-register">

            <div class="login-box">
                <h2 id="titulo">Formulario de Carga y Edición de Productos</h2>
                <h2 class="register-subtitulo">Salida y llegada</h2>
                <form action="/products/post" method="post" class="register-form">

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="salida" title>Sale desde</label>
                                </div>
                                <div class="ant-input">
                                    <select name="departureAirport" id="aereo">
                                        <% const airports=["Aeropuerto Internacional El Dorado", "Aeropuerto Internacional Ministro Pistarini", "Aeropuerto Internacional de Carrasco" ]; %>
                                            <% airports.forEach(airport=> { %>
                                                <option value="<%= airport %>" <%=locals.oldData && (airport === oldData.departureAirport) ? "selected" : "" %>><%= airport %>
                                                </option>
                                                <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="llegada" title>Llega a</label>
                                </div>
                                <div class="ant-input">
                                    <select name="arrivalAirport" id="aereo">
                                        <% airports.forEach(airport=> { %>
                                            <option value="<%= airport %>" <%=locals.oldData && (airport === oldData.arrivalAirport) ? "selected" : "" %>><%= airport %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="register-subtitulo2">Datos del viaje</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="horarioSalida" title>Hora de Salida</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.departureTime ? 'is-invalid' : '' %>" type="time" id="horarioSalida" name="departureTime" value="<%= locals.oldData ? oldData.departureTime : null %>">
                                    <p class="text-danger-front"></p>
                                </div>
                                <% if (locals.errors && errors.departureTime) { %>
                                    <div class="text-danger">
                                        <%= errors.departureTime.msg %> 
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="horarioLlegada" title>Hora de llegada</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.arrivalTime ? 'is-invalid' : '' %>" type="time" id="horarioLlegada" name="arrivalTime" value="<%= locals.oldData ? oldData.arrivalTime : null %>">
                                    <p class="text-danger-front"></p>
                                </div>
                                <% if (locals.errors && errors.arrivalTime) { %>
                                    <div class="text-danger">
                                        <%= errors.arrivalTime.msg %> 
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>



                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="diaVuelo" title>Dia del vuelo</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.departureDate ? 'is-invalid' : '' %>" type="date" id="diaVuelo" name="departureDate" value="<%= locals.oldData ? oldData.departureDate : null %>">
                                    <p class="text-danger-front"></p>
                                </div>
                                <% if (locals.errors && errors.departureDate) { %>
                                    <div class="text-danger">
                                        <%= errors.departureDate.msg %> 
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="precio" title>Precio del vuelo</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.ticketPrice ? 'is-invalid' : '' %>" type="number" id="precio" name="ticketPrice" value="<%= locals.oldData ? oldData.ticketPrice : null %>">
                                    <p class="text-danger-front"></p>
                                </div>
                                <% if (locals.errors && errors.ticketPrice) { %>
                                    <div class="text-danger">
                                        <%= errors.ticketPrice.msg %> 
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="aereo" title>Aerolínea que agrega la Nueva Ruta</label>
                                </div>
                                <div class="ant-input">
                                    <select name="aerolinea" id="aereo">
                                        <% const aerolinea =["latam Airlines","avianca","aerolineas Argentinas"]%>
                                        <% aerolinea.forEach(linea => { %>
                                             <option value="<%= linea %>" <%=locals.oldData && (linea === oldData.aerolinea) ? "selected" : "" %>><%= linea.charAt(0).toUpperCase() + linea.slice(1) %>
                                             </option>
                                             <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crear-cuenta">
                        <button title="Crear Producto" type="submit" class="boton-submit">
                            <span>Confirmar Creacion de Producto</span>
                        </button>
                    </div>
                </form>
            </div>
    </main>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/scriptProductCreate.js"></script>
    <script src="/js/scriptHeader.js"></script>
</body>

</html>