<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCOUR</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

    <main>

        <div class="contenido-register">

            <div class="login-box">
                <h2 class="titulo">Crea tu cuenta de Usuario</h2>
                <h2 class="register-subtitulo">01 Datos Personales</h2>
                <form action="/users/post" method="post" class="register-form">

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="name" title>Nombre</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.nombre ? 'is-invalid' : '' %>" type="text" value="<%= locals.oldData ? oldData.nombre : null %>" maxlength="25" id="name" name="nombre">
                                </div>
                            </div>
                        </div>
                        
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="apellidos" title>Apellidos</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.apellidos ? 'is-invalid' : '' %>" type="text" value="<%= locals.oldData ? oldData.apellidos : null %>" maxlength="15" id="apellidos" name="apellidos">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (locals.errors) { %>
                        <div class="text-danger">
                            <% if (errors.nombre) { %>
                                <div class="text1">
                                    <%= errors.nombre.msg %>
                                </div>
                            <% } %>
                            <% if (errors.apellidos) { %>
                                <div class="text1"></div>
                                <div class="text2">
                                    <%= errors.apellidos.msg %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="gender">Género:</label>
                                </div>
                                <div class="ant-input">
                                    <select name="genero" id="gender">
                                        <%  
									    let generos = ["Masculino", "Femenino"];
									%>
									<% for (const oneGender of generos) { %>
										<option 
											value="<%= oneGender %>"
											<%= locals.oldData && (oneGender === oldData.genero) ? 'selected' : null %> 
										> <%= oneGender %> </option>
									<% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="id" title>Número de documento</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.documento ? 'is-invalid' : '' %>" type="number" value="<%= locals.oldData ? oldData.documento : null %>" maxlength="15" id="id" name="documento">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (locals.errors && errors.documento) { %>
                        <div class="text-danger">
                            <div class="text1"></div>
                            <div class="text2">
                                <%= errors.documento.msg %> 
                            </div>
                        </div>
                    <% } %>

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="fecha" title>Fecha de nacimiento</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.fechaNacimiento ? 'is-invalid' : '' %>" type="date" value="<%= locals.oldData ? oldData.fechaNacimiento : null %>" id="fecha" name="fechaNacimiento">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="cel" title>Celular</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.celular ? 'is-invalid' : '' %>" type="text" value="<%= locals.oldData ? oldData.celular : null %>" maxlength="15" id="cel" name="celular">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (locals.errors) { %>
                        <div class="text-danger">
                            <% if (errors.fechaNacimiento) { %>
                                <div class="text1">
                                    <%= errors.fechaNacimiento.msg %>
                                </div>
                            <% } %>
                            <% if (errors.celular) { %>
                                <div class="text1"></div>
                                <div class="text2">
                                    <%= errors.celular.msg %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>

                    <h2 class="register-subtitulo2">02 Datos de Acceso</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail" title>Correo electrónico</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.mail ? 'is-invalid' : '' %>" type="email" value="<%= locals.oldData ? oldData.mail : null %>" maxlength="40" id="mail" name="mail">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail-re" title>Confirmar correo electrónico</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.mailConfirm  ? 'is-invalid' : '' %>" type="email" value="<%= locals.oldData ? oldData.mailConfirm : null %>" maxlength="40" id="mail-re" name="mailConfirm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (locals.errors) { %>
                        <div class="text-danger">
                            <% if (errors.mail) { %>
                                <div class="text1">
                                    <%= errors.mail.msg %>
                                </div>
                            <% } %>
                            <% if (errors.mailConfirm) { %>
                                <div class="text1"></div>
                                <div class="text2">
                                    <%= errors.mailConfirm.msg %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                        
                    

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pass">Contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.password ? 'is-invalid' : '' %>" type="password" id="pass" name="password">
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pass-re" title>Confirmar contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.passConfirm ? 'is-invalid' : '' %>" type="password" maxlength="15" id="passConfirm"
                                        name="passConfirm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if (locals.errors) { %>
                        <div class="text-danger">
                            <% if (errors.password) { %>
                                <div class="text1">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                            <% if (errors.passConfirm) { %>
                                <div class="text1"></div>
                                <div class="text2">
                                    <%= errors.passConfirm.msg %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                    

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pais" title>País</label>
                                </div>
                                <div class="ant-input">
                                    <select name="pais" id="pais">
                                    <%  
									    let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.pais) ? 'selected' : null %> 
										> <%= oneCountry %> </option>
									<% } %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="aereo" title>Aerolínea preferida</label>
                                </div>
                                <div class="ant-input">
                                    <select name="aerolinea" id="aereo">
                                    <%  
									    let aerolineas = ["Latam Airlines", "Avianca", "Aerolíneas Argentinas"];
									%>
									<% for (const oneLinea of aerolineas) { %>
										<option 
											value="<%= oneLinea %>"
											<%= locals.oldData && (oneLinea === oldData.aerolinea) ? 'selected' : null %> 
										> <%= oneLinea %> </option>
									<% } %>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>


                    <h2 class="register-subtitulo2">03 Información Adicional</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-input">
                                    <label class="label-tyc">
                                        <span class="ant-checkbox">
                                            <input type="checkbox" id="check" name="t&c">
                                            <span class="ant-checkbox-inner"></span>
                                        </span>
                                        <span class="tyc">
                                            Acepto<a target="_blank" class="link-tc" href="">&nbsp;Términos y
                                                Condiciones&nbsp;</a>
                                            y<a target="_blank" class="link-tc" href="">&nbsp;políticas de protección de
                                                datos&nbsp;</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crear-cuenta">
                        <button title="Crear Cuenta" type="submit" class="boton-submit">
                            <span>Crear Cuenta</span>
                        </button>
                    </div>
                </form>
            </div>
    </main>


    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>