<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>

    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav>
        <%- include("../partials/navBar.ejs") %>
    </nav>
    <main><%= flight.departure_airport %></main>
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>


</body>

</html>