<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARCOUR</title>
    <link rel="icon" href="/images/Logo-ARCOUR.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <nav class="main-nav">
        <%- include("../partials/navBar.ejs") %>
    </nav>

    <main>

        <div class="contenido-register">

            <div class="login-box">
                <h2 id="titulo">Crea tu cuenta de Administrador</h2>
                <h2 class="register-subtitulo">01 Datos de la Empresa</h2>
                <form action="/users/post/admin" method="post" class="register-form">

                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="name" title>Nombre de la Empresa</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.nombreEmpresa ? 'is-invalid' : '' %>" type="text" maxlength="25" id="name" name="nombreEmpresa" value="<%= locals.oldData ? oldData.nombreEmpresa : null %>">
                                </div>
                                <% if (locals.errors && errors.nombreEmpresa) { %>
                                    <div class=" text-danger">
                                        <%= errors.nombreEmpresa.msg %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="paisOrigen" title>País de Orígen</label>
                                </div>
                                <div class="ant-input">
                                    <select name="paisOrigen" id="paisOrigen">
                                    <%  
									    let countries = ['argentina', 'bolivia', 'brasil', 'colombia', 'chile', 'ecuador', 'paraguay', 'perú', 'uruguay', 'venezuela'];
									%>
									<% for (const oneCountry of countries) { %>
										<option 
											value="<%= oneCountry %>"
											<%= locals.oldData && (oneCountry === oldData.paisOrigen) ? 'selected' : null %> 
										> <%= oneCountry.charAt(0).toUpperCase() + oneCountry.slice(1) %> </option>
									<% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="register-subtitulo2">02 Datos de Acceso</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail" title>Correo Empresarial</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.correo ? 'is-invalid' : '' %>" type="email" maxlength="40" id="mail" name="correo" value="<%= locals.oldData ? oldData.correo : null %>">
                                </div>
                                <% if (locals.errors && errors.correo) { %>
                                    <div class=" text-danger">
                                        <%= errors.correo.msg %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="mail-re" title>Contraseña</label>
                                </div>
                                <div class="ant-input">
                                    <input class="input-box <%= locals.errors && errors.password ? 'is-invalid' : '' %>" type="password" maxlength="40" id="mail-re" name="password" value="<%= locals.oldData ? oldData.password : null %>">
                                </div>
                                <% if (locals.errors && errors.password) { %>
                                    <div class=" text-danger">
                                        <%= errors.password.msg %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>



                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="pais" title>País a agregar Ruta</label>
                                </div>
                                <div class="ant-input">
                                    <select name="paisRuta" id="pais">
                                        <% const paisesRuta =["argentina", "colombia", "uruguay"]%>
                                        <% paisesRuta.forEach(pais=> { %>
                                             <option 
                                                value="<%= pais %>" 
                                                <%=locals.oldData && (pais === oldData.paisRuta) ? "selected" : "" %>><%= pais.charAt(0).toUpperCase() + pais.slice(1) %>
                                             </option>
                                             <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-label">
                                    <label for="aereo" title>Aerolínea que agrega la Nueva Ruta</label>
                                </div>
                                <div class="ant-input">
                                    <select name="aerolinea" id="aereo">
                                        <% const aerolinea =["latam Airlines","avianca","aerolíneas Argentinas"]%>
                                        <% aerolinea.forEach(linea => { %>
                                             <option value="<%= linea %>" <%=locals.oldData && (linea === oldData.aerolinea) ? "selected" : "" %>><%= linea.charAt(0).toUpperCase() + linea.slice(1) %>
                                             </option>
                                             <% }); %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h2 class="register-subtitulo2">03 Contacto</h2>

                    <div class="ant-col">
                        <div class="ant-inside">
                            <div class="ant-label">
                                <label for="number" title>Número de contacto (+)</label>
                            </div>
                            <div class="ant-input">
                                <input name="contacto" class="input-box <%= locals.errors && errors.contacto ? 'is-invalid' : '' %>" type="text" maxlength="25" id="number" value="<%= locals.oldData ? oldData.contacto : null %>">
                            </div>
                            <% if (locals.errors && errors.contacto) { %>
                                <div class=" text-danger">
                                    <%= errors.contacto.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                    <h2 class="register-subtitulo2">04 Información Adicional</h2>
                    <div class="ant-row">
                        <div class="ant-col">
                            <div class="ant-inside">
                                <div class="ant-input">
                                    <label class="label-tyc">
                                        <span class="ant-checkbox">
                                            <input type="checkbox" id="check" name="t&c">
                                            <span class="ant-checkbox-inner"></span>
                                        </span>
                                        <span class="tyc">
                                            Acepto<a target="_blank" class="link-tc" href="">&nbsp;Términos y
                                                Condiciones&nbsp;</a>
                                            y<a target="_blank" class="link-tc" href="">&nbsp;políticas de protección de
                                                datos&nbsp;</a>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="crear-cuenta">
                        <button title="Crear Admin" type="submit" class="boton-submit">
                            <span>Crear Cuenta de Administrador</span>
                        </button>
                    </div>
                </form>
            </div>
    </main>

    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>